<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('COLX')" data-ng-class="{active: currency.symbol == 'COLX'}">COLX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('kCOLX')" data-ng-class="{active: currency.symbol == 'kCOLX'}">kCOLX</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('mCOLX')" data-ng-class="{active: currency.symbol == 'mCOLX'}">mCOLX</a>
  </li>
</ul>

